<div class="px-8 py-6 flex justify-end space-x-2">
  <div class="inline-flex space-x-2">
    <% if current_question_index > 0 %>
      <%= button_tag "Previous",
          name: "question",
          value: current_question_index - 1,
          type: "submit",
          formaction: take_book_quiz_path(book, quiz),
          formmethod: :get,
          class: "inline-block px-4 py-1 border border-gray-300 text-sm font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none whitespace-nowrap" %>
    <% end %>

    <% if current_question_index == question_count - 1 %>
      <%= button_tag "Submit Quiz",
          type: "submit",
          class: "inline-block px-4 py-1 border border-gray-300 text-sm font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none whitespace-nowrap" %>
    <% else %>
      <%= button_tag "Next",
          name: "question",
          value: current_question_index + 1,
          type: "submit",
          formaction: take_book_quiz_path(book, quiz),
          formmethod: :get,
          class: "inline-block px-4 py-1 border border-gray-300 text-sm font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none whitespace-nowrap" %>
    <% end %>
  </div>
</div>
