<div class="relative w-screen -mx-6">
  <svg class="w-full h-24 text-slate-800" viewBox="0 0 1440 200" fill="currentColor" preserveAspectRatio="none">
    <path d="M0,50 C160,150 400,-50 720,100 C1040,-50 1280,150 1440,50 L1440,200 L0,200 Z"></path>
  </svg>
</div>
